.App {
  text-align: center;
}

.App h3{
color: red;
font-style: inherit;
}
.todolist{
  border: 1px solid black;
  width: 100%;
}



.first{
  margin: 0% 30% 0% 30%;
}
.TodoInput{
  width:100%;
}
.TodoInput input {
  width:78%;
}
.TodoInput button{
  width:20%;
}

.checkbox{
  float: left;
}
